@import "tailwindcss";

:root {
	font-family: "Maiden Orange", sans-serif;
}

@layer base {
	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-teal-500;
	}

	button {
		@apply px-4 py-2 border bg-linear-to-r from-green-400 to-green-600 text-white rounded-xl cursor-pointer hover:scale-105;
	}

	h2 {
		@apply text-xl font-bold;
	}
}
